*{
    padding: 0;
    margin: 0;
    font-family: poppins;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track{  
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar{
	width: 6px;
    border-radius: 50px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(44, 44, 44, 0.3);
	background-color: #b1aeae;
    border: none;
}
.page-wrapper{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.navbar-wrapper{
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    background: transparent;
    backdrop-filter: blur(3px);
    position: fixed;
    z-index: 9;
}
.navbar-container{
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}   
.navbgChange{
    background-color: rgb(226, 62, 3);
    transition: 0.5s ease-in-out;
}
.navlogo-container{
    width: 200px;
    height: 50px;
    margin-top: 15px;
    text-align: center;
    display: flex;
}
.navbar-container  a{   
    text-decoration: none;
}
.navlogo-container p{
    font-size: 2rem;
    font-weight: 600;
}
.foody{
    color: white;
}
.hub{
    margin-left: 8px;
    color: rgb(224, 224, 6);
}
.navlogo-container img{
    width: 60%;
    height: 100%;
    margin-left: 20%;
}
.nav-mid-content{
    width: 50%;
    height: 50px;
    margin-top: 15px;
}
.nav-mid-content ul{
    height: 50px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.nav-mid-content ul li{
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
}
.nav-mid-content ul a{
    text-decoration: none;
    color: white;
}
.nav-right-content{
    width: auto;
    height: 50px;
    margin-top: 15px;
    display: flex;
    cursor: pointer;
}
.nav-right-content p{
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
    margin-top: 15px;
}
.nav-right-content i{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 20px;
    color: rgb(224, 224, 6);
 }
 .cartcount-container{
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 0px;
    border-radius: 20px;
    border: none;
    background: rgb(239, 239, 6);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
 }
 .cart-count{
    text-align: center;
    color: rgb(226, 62, 3);
 }
 .cart-empty-notif{
    width: 130px;
    position: absolute;
    opacity: 0;
    right: 0;
    margin-right: 15px;
 }
 .cart-empty-notif p{
    font-weight: 600;
    color: rgb(255, 255, 63);
    margin: 0 auto;
 }
.top-wrapper{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background: rgb(226, 62, 3);
}
.top-container{
    width: 100%;
    height: 450px;
    padding-top: 170px;
    transform: translateX(100%);
    opacity: 0;
    transition: 1.5s ease-in-out;
}
.top-imgcon{
    width: 70%;
    height: 350px;
    margin-left: 15%;
}
 .top-bg{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    z-index: 1;
    position: relative;
}
.drink{
    position: absolute;
    width: 320px;
    height: 450px;
    right: 180px;
    top: -10px;
}
.top-deetscon{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    transform: translateX(-80%);
    transition: 1.5s ease-in-out;
    opacity: 0;
    top: -150px;
}
.top-deetscon h1{
    font-size: 3.3rem;
    color: white;   
}
.top-deetscon h1 a{
    text-decoration: none;
    color: rgb(224, 224, 6);
}
.show{
    transform: translateX(0%);
    opacity: 1;
}
#cartEmptyNotif .show-empty-notif {
    display: block;
    opacity: 1;
}
.show-empty-notif{
    transform: translateX(0%);
    opacity: 1;
}
/* Product section ----------*/
.product-wrapper{
    width: 100%;
    height: 300px;
    padding-top: 50px;
    margin-top: -50px;
    background: rgb(226, 62, 3);
}
.product-container{
    width: 90%;
    height: 450px;
    margin: 25px auto;
}
.product-title{
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: white;
    display: flex;
    justify-content: center;
}
.offer{
    margin-left: 8px;
    color: rgb(224, 224, 6);
}
.product-list-container{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.banner{
    width: 700px;
    height: 378px;
    margin: 0 auto;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    transition: 0.5s ease-in-out !important;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}
.product-list{
    width: 100%;
    height: 150px;
    margin-top: 35px;
}
.product-list ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.product-list ul li{  
    width: 20%;
    height: 120px; 
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}
.product-img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-size: cover !important;
}
.product-img img{
    width: 100%;
    height: 100%;
}
.active{
    margin-top: -3rem;
}
.product-details{
    width: 100%;
    height: 110px;
    padding-top: 10px;
}
.jap-list{
    font-size: 0.8rem;
}
.product-name{
    font-size: 0.9rem;
    font-weight: 600;
}
.product-price{
    font-size: 0.7rem;
    font-weight: 600;
    padding-bottom: 10px;
}
.btn-order{
    width: 30%;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-in-out;
    background-color: rgb(1, 98, 1, 0.8);
    box-shadow: rgba(1, 98, 1, 0.5) 0px 5px 15px;
    margin-top: 10px;
    display: none;
}
.btn-cart{
    width: 45%;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-in-out;
    background-color: rgb(1, 98, 1, 0.8);
    box-shadow: rgba(1, 98, 1, 0.5) 0px 5px 15px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}
.product-details button:hover{
    background-color: rgb(1, 98, 1, 1);
}
/* Best sale section -----------------*/
.bestsale-wrapper{
    width: 100%;
    height: auto;
    margin-top: 500px;
    padding-top: 200px;
}
.bestsale-title{
    width: 90%;
    height: 50px;
    margin-left: 5%;
}
.bestsale-title p{
    font-size: 1.8rem;
    font-weight: 600;
    color: orangered;
}
.sales{
    color: rgb(224, 224, 6);
}
.bestsale-container{
    width: 90%;
    height: 900px;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    grid-row-gap: 20px;
    justify-content: space-between; 
}
.bestsale-content{
    height: 370px;
    display: inline-block;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.bs-imgcon{
    width: 100%;
    height: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.bs-imgcon img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.bs-deetscon{
    width: 100%;
    height: 100px;
    margin: 10px auto;
}
.bs-deetscon span{
    margin-left: 10px;
}
.bs-deetscon p{
    margin-left: 10px;
}
.bs-name{
    font-size: 1rem;
    font-weight: 600;
}
.bs-price{
    font-size: 0.8rem;
    font-weight: 600;
}
.bs-info{
    font-size: 0.7rem;
}
.bs-btncon{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}
.bs-btncon button:hover{
    background-color: rgb(1, 98, 1, 1);
}
/* all time favorite section ---------*/
.atfActive{
    margin-top: -2rem;
}
.atf-wrapper{
    width: 100%;
    height: auto;
    padding-top: 100px;
}
.atf-title{
    width: 90%;
    height: auto;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: rgb(226, 62, 3);
}
.favorites{
    color: rgb(224, 224, 6);
}

.atf-thumbnail-container{
    height: auto;
    position: relative;
}
.atf-container{
    width: 90%;
    height: 220px;
    padding-top: 50px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 15px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
}
.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.atf-prev{
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 55px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    z-index: 1;
    text-align: center;
    cursor: pointer;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}
.atf-next{
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 55px;
    border-radius: 50%;
    top: 50%;
    right: 0;
    z-index: 1;
    text-align: center;
    cursor: pointer;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}
.atf-content{
    height: 180px;
    display: inline-block;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    scroll-snap-align: start;
}
.atf-imgcon{
    width: 100%;
    height: 180px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;   
}
.atf-imgcon img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.atf-imgcon p{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 10px;
    background: transparent;
}
.banner-wrapper{
    width: 100%;
    height: 800px;
    background: rgb(226, 62, 3);
    padding-top: 20px;
}
.atf-fastfood-wrapper{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.atf-beverage-wrapper{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: none;
}
.atf-dessert-wrapper{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: none;
}
.atf-asian-wrapper{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: none;
}
.atf-seafood-wrapper{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: none;
}
.atf-grilled-wrapper{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: none;
}
.assigned{
    display: none;
}
.atf-fastfood-wrapper{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: block;
}
.atf-product-container{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 23%);
    grid-row-gap: 30px;
}
.atf-product-content{
    height: 320px;
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}
.atf-product-imgcon{
    width: 100%;
    height: 150px;
}
.atf-product-imgcon img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: 0.3s ease-in-out;
}
.atf-product-content:hover{
    .atf-product-imgcon img{
        transform: translateY(-10%);  
    }
}
.atf-product-deetscon{
    width: 95%;
    height: 100px;
    margin: 10px auto;
}
.atf-product-deetscon span{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 15px;
}
.atf-product-deetscon .cart-price{
    font-weight: 600;
    font-size: 0.8rem;
}
.atf-product-deetscon p{
    font-size: 0.9rem;
}
.atf-product-btncon{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: end;
}
.atf-product-btncon button{
    font-size: 0.8rem;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-in-out;
    background-color: rgb(1, 98, 1, 0.8);
    box-shadow: rgba(1, 98, 1, 0.5) 0px 5px 15px;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    margin-right: 10px;
}
.atf-order{
    width: 25%;
    height: 30px; 
    display: none;  
}
.atf-cart{
    width: 45%;
    height: 30px;
}
.atf-product-btncon button:hover{
    opacity: 1;
}
.bundles-wrapper{
    width: 100%;
    height: auto;
    padding-top: 100px;
    position: relative;
}
.bundles-title{
    width: 90%;
    height: 50px;
    margin: 0 auto;
}
.bundles-title h1{
    color: rgb(226, 62, 3);
}
.bundletxt{
    color: rgb(224, 224, 6);
    margin-left: 5px;
    font-size: 1.8rem;
}
.bundles-prev{
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 55px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    z-index: 1;
    text-align: center;
    cursor: pointer;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}
.bundles-next{
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 55px;
    border-radius: 50%;
    top: 50%;
    right: 0;
    z-index: 1;
    text-align: center;
    cursor: pointer;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}
.bundles-container{
    width: 90%;
    height: 500px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(6, 24%);
    grid-column-gap: 16px;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0; 
}
.bundles-content{
    height: 390px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    scroll-snap-align: start;
    position: relative;
}
.bundles-imgcon{
    width: 100%;
    height: 180px;
}
.bundles-imgcon img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.bundles-deetscon{
    width: 90%;
    height: 150px;
    margin: 8px auto;
}
.bun-price{
    font-weight: 600;
    padding-bottom: 10px;
}
.bundles-deetscon span{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
}
.bundles-deetscon p{
    font-size: 0.8rem;
}
.bundragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.bundles-btncon{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    cursor: pointer;
    gap: 10px;
    font-size: 0.8rem;
}
.bundles-btncon button{
    width: 40%;
    height: 30px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    background-color: rgb(1, 98, 1, 0.8);
    box-shadow: rgba(1, 98, 1, 0.5) 0px 5px 15px;
    transition: 0.3s ease-in-out;
    opacity: 0.8;
    margin-right: 10px;
}
.bundles-btncon button:hover{
    opacity: 1;
}
.bundles-btnorder{
    display: none;
}
.bunrem{
    display: none;
    width: 60px;
    height: 20px;
    font-size: 0.6rem;
    border-radius: 100px;
    letter-spacing: 1px;
    border: none;
    color: white;
    background-color: red;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;
}
.bunrem:hover{
    opacity: 1;    
}
.bundles-inpcon{
    width: 30%;
    height: auto;
    display: none;
}
/* Footer section ---------------------------- */
.footer-wrapper{
    width: 100%;
    height: auto;
    margin-top: 200px;
    padding-top: 20px;
    background: rgb(226, 62, 3);
}
.footer-container{
    width: 90%;
    height: 500px;
    margin: 0 auto;
}
.footer-bar{
    width: 100%;
    height: 50px;
}
.footer-accounts{
    width: auto;
    display: flex;
    cursor: pointer;
    gap: 5px;
    float: right;
}
.footer-accounts i{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px;
    transition: 0.3s ease-in-out;
}
.footer-accounts i:hover{
    transform: translateY(-10%);
}
.footer-content-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.footer-content{
    width: 20%;
    height: 300px;
}
.footer-content a{
    text-decoration: none;
    color: white;
}
.footer-content ul{
    list-style: none;
    margin-top: 30px;
}
.footer-content ul li{
    font-size: 0.8rem;
    color: white;
}
.footer-content ul .paul{
    margin-top: 10px;
}
.footer-content .content1{
    line-height: 35px;
}
.order-popup-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    margin-top: 80px;
    background-color: rgba(35, 35, 35, 0.5);
    display: none;
    z-index: 11111111;
}
.order-popup-container{
    width: 50%;
    height: 350px;
    margin: 100px auto;
}
.order-popup-content{
    width: 100%;
    height: 350px;
    margin: 100px auto;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: rgb(219, 218, 218);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    display: flex;
    justify-content: space-evenly;
}
.order-deetscon{
    width: 45%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    line-height: 25px;
}
.order-deetscon p{
    font-size: 0.9rem;
}
.order-qty{
    width: 10%;
    outline: none;
}
.order-inp{
    width: 95%;
    padding-left: 5px;
}
.order-total{
    margin-top: 30px;
}
.order-paycon{
    width: 45%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}
.order-paycon p{
    font-size: 0.9rem;
}
.paycon-btncon{
    width: 100%;
    height: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.order-paycon select{
    width: 20%;
    outline: none;
    border-radius: 15px;
}
.paycon-inp{
    outline: none;
    padding-left: 5px;
}
.submit-btn{
    width: 100%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(1, 98, 1, 0.8);
    box-shadow: rgba(1, 98, 1, 0.5) 0px 5px 15px;
}
.cart-popup-wrapper{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    margin-top: 80px;
    background-color: rgba(35, 35, 35, 0.5);
    z-index: 11111;
}
.cart-popup-container{
    width: 70%;
    height: auto;
    margin: 30px auto;
}
.cart-close{
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    float: right;
    cursor: pointer;
}
.cart-close-mobile{
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    float: right;
    cursor: pointer;
    display: none;
}
.cart-popup-content{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background: rgb(219, 218, 218);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    overflow: auto;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    position: relative;
}
.cart-thankyou-page{
    width: 50%;
    height: 150px;
    margin: 150px auto;
    background: rgb(226, 62, 3);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    overflow: auto;
    border-radius: 30px;
    display: none;
    text-align: center;
}
.cart-thankyou-page h1{
    margin-top: 50px;
    color: white;
}
.cart-items{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    row-gap: 10px;
}
.oncart-paypage{
    width: 100%;
    height: auto;
    padding-bottom: 0px;
}
#payPageOncart{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.cart-paypage-wrapper{
    display: none;
}
.cart-popup-paypage{
    display: flex;
}
.paypage-content{
    width: 50%;
    margin-top: 20px;
    padding-left: 20px;
}
.paypage-submit-btn{
    width: 40%;
    height: 30px;
    margin-top: 10px;
    font-size: 0.7rem;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 35px;
    background: rgba(1, 98, 1, 0.5);
    transition: 0.2s ease-in-out;
}
.paypage-submit-btn:hover{
    background: rgba(1, 98, 1, 1);
}
.paypage-edit-btn{
    display: none;
    width: 45%;
    height: 30px;
    margin-top: 10px;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 35px;
    background: rgba(1, 98, 1, 0.5);
    transition: 0.2s ease-in-out;
}
.paypage-edit-btn:hover{
    background: rgba(1, 98, 1, 1);
}
.cart-items .bundles-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 180px;
    gap: 30px;
    background-color: white;
    border-radius: 0px;
}
.cart-items 
    .oncart-paypage
        .bundles-content
            .bundles-imgcon{
                width: 30%;
                height: 100%;
}
.cart-items 
    .oncart-paypage
        .bundles-content
            .bundles-imgcon img{
                border-radius: 0px;
}
.cart-items 
    .oncart-paypage
        .bundles-content
            .bundles-deetscon{
                width: 180px;
                margin: 10px 0px;
}
.cart-items 
    .oncart-paypage
        .bundles-content
            .bundles-deetscon span{
                line-height: 10px;
}
.cart-items 
    .oncart-paypage
        .bundles-content
            .bundles-deetscon .cart-price{
                font-weight: 600;
}
.cart-items 
    .oncart-paypage
        .bundles-content .bunrem{
                display: block;
}
.cart-items 
    .bundles-content
        .bundles-btncon{
            display: none;
}
.cart-items 
    .oncart-paypage
        .bundles-content
            .bundles-inpcon{
                width: 35%;
                display: flex;
}
.cart-items 
    .oncart-paypage
        .bundles-content
            .bundles-inpcon .bun-qtycon{
                width: 100px;
                margin-top: 100px;
                font-size: 0.8rem;
                font-weight: 600;
}
.cart-items 
    .oncart-paypage
        .bundles-content
            .bundles-inpcon input{
                width: 40%;
                outline: none;
                padding-left: 30px;
                border: 1px solid black;
                border-radius: 30px;
}
.cart-items 
    .oncart-paypage
        .bundles-content
            .bundles-inpcon .cart-totalprice{
                font-weight: 600;
                font-size: 0.8rem;
}
.cart-items 
    .oncart-paypage
        .bundles-content    
            .bundles-inpcon .bun-total{
                    width: 100px;
                    margin-top: 100px;
                    font-size: 0.8rem;
}
.cart-items .bundles-content button{
    display: none;
}
.notif-wrapper{
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
    margin-top: 80px;
    background-color: rgba(35, 35, 35, 0.5);
    text-align: center;
    padding-top: 10px;
    color: white;
    display: none;
    opacity: 0;
    transition: opacity 2s;
}
#notification.show {
    display: block;
    opacity: 1;
}
.notif-wrapper i{
    font-size: 2rem;
    color: rgb(226, 62, 3);
    position: absolute;
    top: 0;
    margin-top: 0px;
    margin-left: 80px;
}
.cart-sum-all-product{
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    background: rgb(219, 218, 218);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.totaltxt{
    font-weight: 600;
}
.cart-total-price{
    margin-right: 20px;
}
.cart-paynow-btn{
    width: 80px;
    height: 30px;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 35px;
    background: rgba(1, 98, 1, 0.5);
    transition: 0.2s ease-in-out;
}
.cart-paynow-btn-mobile{
    width: 80px;
    height: 30px;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 35px;
    background: rgba(1, 98, 1, 0.5);
    transition: 0.2s ease-in-out;
    display: none;
}
.cart-paynow-btn:hover{
    background: rgba(1, 98, 1, 1);
}
.cart-paypage-wrapper{
    width: 100%;
    height: 500px;
    display: none;
}
.cart-paypage-userinfo{
    margin-left: 10px;
}
.cart-paypage-userinfo h1{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.cart-paypage-userinfo p{
    font-size: 0.8rem;
    margin-top: 7px;
}
.cart-paypage-userinfo i{
    margin-right: 5px;
}
.cart-paypage-userinfo input{
    width: 90%;
    outline: none;
    padding-left: 5px;
}
.brgy-zip{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.brgy-zip input{
    width: 80%;
    outline: none;
    padding-left: 5px;
}
.brgy{
     width: 50%;
}
.zip{
    width: 50%;
}

.fa-bounce{
    margin-left: 2px;
    display: none;
}
.cart-paypage-compute{
    display: none;
}
.cart-paypage-compute hr{
    margin-bottom: 10px;
}
.cart-paypage-compute h1{
    font-size: 1rem;
}
.paypage-totalcon{
    width: 90%;
    height: auto;
    display: none;
    gap: 10px;
    padding-top: 50px;
    padding-left: 20px;
}
.paypage-totalcon-sum{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.cart-shopmore-btn{
    width: 90px;
    height: 30px;
    font-size: 0.75rem;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 35px;
    background: rgba(1, 98, 1, 0.5);
    transition: 0.2s ease-in-out;
}
.cart-shopmore-btn-mobile{
    width: 90px;
    height: 30px;
    font-size: 0.75rem;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 35px;
    background: rgba(1, 98, 1, 0.5);
    transition: 0.2s ease-in-out;
    display: none;
}
.paypage-totalcon button:hover{
    background: rgba(1, 98, 1, 1);
}
.payment-method{
    width: 100%;
    height: auto;
    margin-top: 20px;
    gap: 5px;
}
.payment-method p{
    font-size: 0.8rem;
}
.payment-method select{
    outline: none;
}
.payment-online{
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.online-payment{
    width: 100%;
    height: auto;   
}
.bankwallet-proceed-btn{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.cart-placeorder-btn{
    width: 45%;
    height: 30px;
    font-size: 0.7rem;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 35px;
    background: rgba(1, 98, 1, 0.5);
    transition: 0.2s ease-in-out;
}

.cart-placeorder-btn:hover{
    background: rgba(1, 98, 1, 1);
}
.bank-option{
    width: 100%;
    display: none;
}
.ewallet-option{
    width: 100%;
    display: none;
}
.online-payment p{
    font-size: 0.8rem;
    padding-top: 8px;
}
.online-payment input{
    width: 55%;
    padding-left: 5px;
    outline: none;
}
.online-payment select{
    width: 45%;
    outline: none;
}
.year-cvv{
    width: 100%;
    height: auto;
    display: flex;
}
.exp-year{
    width: 50%;
    display: inline-block;
}
.cvv{
    width: 30%;
    display: inline-block;
}
.cvv input{
    width: 40%;
    outline: none;
    padding-left: 5px;
}
hr{
    margin-top: 10px;
}
.COD-payment{
    width: 100%;
    height: auto;
    display: none;
}
.COD-payment p{
    font-size: 0.8rem;
    padding-top: 10px;
}
.COD-payment input{
    padding-left: 5px;
    outline: none;
}
.cod-placeorder-btn{
    width: 50%;
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.cod-placeorder-btn button{
    width: 100%;
    height: 30px;
    font-size: 0.7rem;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 35px;
    background: rgba(1, 98, 1, 0.5);
    transition: 0.2s ease-in-out;
}
.cod-placeorder-btn button:hover{
    background: rgba(1, 98, 1, 1);
}
.cart-itemduplicate-notif{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
    background: rgba(35, 35, 35, 0.5);
    display: none;
}
.cart-items .bestsale-content{
    width: 30%;
}
.dupli-wrapper{
    width: 30%;
    height: 150px;
    display: flex;
    margin: 40vh auto;
    position: relative;
}
.dupli-message{
    width: 95%;
    height: 100px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1px;
    border-radius: 25px;
    background: rgb(226, 62, 3);
}
.fa-circle-xmark{
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    right: 0;
    cursor: pointer;
}
.dupli-message p{
    font-size: 1rem;
    font-weight: 600;
}